.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
.navbar__logo{
    width: 120px;
    margin:25px;
}
.navbar__buttons{
    display: flex;
    flex-direction: column;
}